{% extends 'base-extended-headers.html' %}
{% load static %}
{% block content %}


    <section class="login-page">
      <h2>Dane profilowe</h2>



        <div class="form-group">
          <p style="font-size:18px"><b>Imie:</b> {{ request.user.first_name }} </p>
        </div>
         <div class="form-group">
          <p style="font-size:18px"><b>Nazwisko:</b> {{ request.user.last_name }} </p>
        </div>
        <div class="form-group">
          <p style="font-size:18px"><b>Email:</b> {{ request.user.username }} </p>
        </div>


{#        <div class="form-group">#}
{#          <input type="password" name="password" placeholder="Hasło" />#}
{#        </div>#}
{#        <div class="form-group">#}
{#          <input type="password" name="password2" placeholder="Powtórz hasło" />#}
{#        </div>#}
{##}
{#        <div class="form-group form-group--buttons">#}
{#          <a href="{% url 'login_page' %}" class="btn btn--without-border">Zaloguj się</a>#}
{#          <button class="btn" type="submit">Załóż konto</button>#}
{#        </div>#}
{#      </form>#}
    </section>

    <hr style="border: 2px dotted #bcbcbc">

    <section class="login-page">
      <h2>Aktywność</h2>



        <div class="form-group">
          <p style="font-size:18px"><b>Iliość przekazanych worków:</b> {{ quantity }} </p>
        </div>
         <div class="form-group">
          <p style="font-size:18px"><b>Wspierane organizacje:</b> {{ institutions_name }} </p>
        </div>
        <div class="form-group">
          <p style="font-size:18px"><b>Kategorie darów:</b> {{ categories_name }} </p>
        </div>

    </section>

{% endblock %}
